<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beefy Stock</title>
    <link rel="stylesheet" href="/css/jass.css"/>
</head>
<header>
        <div class="header" >
            <img src="/images/logo_img.png" alt="beefy stock logo">
            <img src="/images/file.png" alt="Beefy stock">
        </div>
        <div class="header-login">
                <a href="/login">
                    <button class="login">Log In</button>
                </a>
            <button class="signup">Sign Up</button>
        </div>
    </header>

<main >
    {{{ body }}}
  </main>
    <footer>
    <div class="footer-container">
        <div class="logo">
            <img src="/images/logo_img.png" alt="Footer Logo">
        </div>
        <div class="useful-fields">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer>

</html>