<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beefy Stock</title>
    <link rel="stylesheet" href="/css/jass.css"/>
    <link rel="stylesheet" href="/css/product.css"/>
    <link rel="stylesheet" href="/css/search.css"/>
</head>
<header>
    <a href="/">
        <div class="header" >
            <img src="/images/logo_img.png" alt="beefy stock logo">
            <img src="/images/file.png" alt="Beefy stock">
        </div>
    </a>    
        {{#if loggedIn}}
<form action="/search" method="GET" class="search-form">
    <input type="text" placeholder="Search for products" class="search-input" id="search-input" name="productSearch">
    <button class="search-btn">Search</button>
</form>
        <div class="header-login">
            <h5>Logged In As: {{name}}</h2>
                    <button class="logout" id="logout">Log Out</button>
        </div>  
        {{else}}
        <div class="header-login">
                <a href="/login">
                    <button class="login">Log In</button>
                </a>
            <button class="signup">Sign Up</button>
        </div>
        {{/if}}
    </header>

<main >

    {{{ body }}}
    {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </main>
    <footer>
    <div class="footer-container">
        <div class="logo">
            <img src="/images/logo_img.png" alt="Footer Logo">
        </div>
        <div class="useful-fields">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/product.js"></script>
  <script src="/js/dashboard.js"></script>
  <script src="/js/allproducts.js"></script>
</html>