<body>
<div class="dash">
    <div class="search-container">
        <div id="searchbtninput">
            <form action="/search" method="GET">
            <input type="text" placeholder="Search for products" class="search-input" id="search-input" name="productSearch">
            <button class="search-btn" onclick="search()">Search</button>
            </form>
           
            </div>
             <h2>quick links</h2>
             <div class="button-container-dashboard">
        <button class="dashboard-btn" onclick="window.location.href='/products'">View all products</button>
        <button class="dashboard-btn" onclick="window.location.href='/suppliers'">View all suppliers</button>
        <button class="dashboard-btn" onclick="window.location.href='/categories'">View all categories</button>
    </div>
        </div>

        <div class="dashboard-container">
        
        
    <div id="low-quantity-products-container" class="products-container">
        <h2>Low Quantity Products</h2>
        <ul>
            {{#each lowQuantityProducts}}
            <li class="list">
                <a class="product-name" href="/products/{{this.id}}">{{this.product_name}}</a>
                <span class="product-quantity">Quantity left: {{this.in_hand_stock}}</span>
                
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="chart-container">
        <h2> Stock Distribution</h2>
        <div class="chart">
            <canvas id="productChart"></canvas>
        </div>
    </div>
    </div>
</div>    
</body>