
<body>
    <div class="container">
       
        <div class="text-container">
            
            <h2>Welcome to Beefy Stock</h2>
            <p>Keep track of stock levels with Beefy Stock's inventory control system, which populates invoices and orders with items you buy and sell.</p>
            <div class="button-container">
                <button class="login">Log In</button>
                <button class="signup">Sign Up</button>
            </div>
        
        </div>
        <div class="image-container">
            <img src="/images/img-2_720.png" alt="Image">
        </div>
    </div>
</body>
