
    <div class="container">
    <div class="row-1">
        <div class="product-image-1">
            <h2>{{product-name}}</h2>
        </div>
        <div class="supplier">
            <button id="modal-id" class="button">Suppliers</button>


            <button class="button">Edit Details</button>
        </div>
    </div>
        <div class="row-2">
            <div>
                <!-- image goes here eventually-->
            </div>
        
            <div class="description">{{description}}</div>
        </div>
    </div>


