<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beefy Stock</title>
    <link rel="stylesheet" href="/public/css/product.css"/>
</head>
<body>
    <header>
        <div class="header" >
            <img src="/public/images/logo_img.png" alt="beefy stock logo">
            <img src="/public/images/file.png" alt="Beefy stock">
        </div>
        <input type="text" class="prompt-input" placeholder="Search...">
        <div class="header-login">
            <button class="login">Sign In</button>
            <button class="signup">Sign Up</button>
        </div>
    </header>
    <div class="container">
    <div class="row-1">
        <div class="product-image-1">
            <h2>{{product-details}}</h2>
        </div>
        <div class="supplier">
            <button class="button">Suppliers</button>
            <button class="button">Edit Details</button>
        </div>
    </div>
        <div class="row-2">
            <div>
                <img class="{{product-img}}" src="..." alt="{{product-image}}">
            </div>
        
            <div class="description">{{description}}</div>
        </div>
    </div>
</body>
<footer>
    <div class="footer-container">
        <div class="logo">
            <img src="/public/images/logo_img.png" alt="Footer Logo">
        </div>
        <div class="useful-fields">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer>

</html>