<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beefy Stock</title>
    <link rel="stylesheet" href="/public/css/product.css"/>
</head>
<body>

    <div class="container">
    <div class="row-1">
        <div class="product-image-1">
            <h2>{{product-details}}</h2>
        </div>
        <div class="supplier">
            <button id="modal-id" class="button">Suppliers</button>

            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="closeBtn">&times;</span>
                    <p>Coming soon...</p>
                </div>
            </div>
            <button class="button">Edit Details</button>
        </div>
    </div>
        <div class="row-2">
            <div>
                <img class="{{product-img}}" src="..." alt="{{product-image}}">
            </div>
        
            <div class="description">{{description}}</div>
        </div>
    </div>
</body>

<script src="/Beefy-Stock/models/Product.js"></script>

</html>