<h1>Search Results</h1>

{{#each products}}
    <div>
        <a href="/products/{{this.id}}">
            <h2 class = 'search_headings'>{{this.product_name}}</h2>
        </a>
        <p>{{this.description}}</p>
    </div>
{{/each}}